* {
    padding: 0;
    margin: 0;
}
#header {
    background-color: blueviolet;
    padding: 20px 20px;
}
#navBar {
    display: flex;
    justify-content: space-between;    
}
#navBar h3 {
    color: white; 
    font-size: 25px;
}
#search {
    padding: 4px;
}
#main {
    margin-top: 30px;
    border: 1px solid black;
}
.section1 {
    border: 1px dotted black;
    padding: 30px;
    margin: 20px;
}
.addH {
    padding: 3px 0;
    margin-right: 15px;
    border: 1px solid black;
}
.submit {
    padding: 3px 3px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
.section2 {
    border: 1px dotted black;
    padding: 30px;
    margin: 20px;
}
.lists {
    list-style: none;
    padding: 0;
}
.aList {
    padding: 10px 0;
}
.xBtn {
    float: right;
    cursor: pointer;
    padding: 3px;
    background-color: white;
    border: 1px solid black;
}