body {
    padding: 1rem 2rem;
}
.time {
    display: flex;
    align-items: baseline;
}
#h-min {
    font-size: 3em;
    margin-right: 1rem;
}
#second {
    font-size: 2em;
}
.date {
    display: flex;
    margin-top: 1rem;
    font-size: 2rem;
}